<%- include('header.ejs') %>

    <h1>
        <%= __("An error occurred!") %>
    </h1>
    <div>
        <p>
            <%= __(message) %>

        </p>

    </div>
    <div>
        <p>
            <%= __("Details of the issue:") %>
        </p>
        <p>
            <%= __("You got an error with status: ") %> <%= __(error.status) %>
  

            </p>

            </div>