<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>
    <%= __("Welcome to") %> <b>
        <%= title %>,
      </b>
      <%= __("your second hand store.") %>
  </p>
  <p>
    <%= __("Articles panel") %>
  </p>
  <p>
    <% if (adsList.length===0) {%>
      <%= __("Sorry, nothing to show for your search.") %>
        <% }%>
  </p>
  <ul>
    <% for (let i=0; i < adsList.length; i++) { %>
      <% const ad=adsList[i]; %>
        <li>
          <h2>
            <%= ad.name %>
          </h2>
          <p>
            <%= __("Type of offer:") %>
              <%= ad.sale ? __("For sale") : __("Looking for") %>
          </p>
          <% if (ad.price) { %>
            <p>
              <%= __("Price:") %>
                <%= ad.price %> €
            </p>
            <% } %>
              <% if (ad.tag && ad.tag.length> 0) { %>
                <p>
                  <%= __("Category:") %>
                    <%= ad.tag.map(item=> i18nTags.item = __(item)).join(', ') %>

                </p>

                <% } %>
                  <% if (ad.image) { %>
                    <p>
                      <img src=" /adImages/thumbnail_<%=ad.image%>">
                    </p>
                    <% } %>
        </li>
        <% } %>
  </ul>
</body>

</html>