<%- include('header.ejs') %>

  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">
          <%= title %>
        </h1>
        <p class="lead fw-normal text-white-50 mb-0">
          <%= __("Your second hand store") %>
        </p>
      </div>
    </div>
  </header>

  <body>
    <h2>
      <%= __("Articles panel") %>
    </h2>
    <p>
      <% if (adsList.length===0) {%>
        <%= __("Sorry, nothing to show for your search.") %>
          <% }%>
    </p>
    <ul>
      <% for (let i=0; i < adsList.length; i++) { %>
        <% const ad=adsList[i]; %>
          <li>
            <h2>
              <%= ad.name %>
            </h2>
            <p>
              <%= __("Type of offer:") %>
                <%= ad.sale ? __("For sale") : __("Looking for") %>
            </p>
            <% if (ad.price) { %>
              <p>
                <%= __("Price:") %>
                  <%= ad.price %> €
              </p>
              <% } %>
                <% if (ad.tag && ad.tag.length> 0) { %>
                  <p>
                    <%= __("Category:") %>
                      <%= ad.tag.map(item=> tagsToLocalizeWithI18n[item] = __(item)).join(', ') %>

                  </p>

                  <% } %>
                    <% if (ad.image) { %>
                      <p>
                        <img src="/uploads/adImages/thumbnail_<%=ad.image%>">
                      </p>
                      <% } %>
          </li>
          <% } %>
    </ul>
    <%- include('footer.ejs') %>
  </body>

  </html>